@tailwind base;
@tailwind components;
@tailwind utilities;

/* === MOBILE SCROLLBAR FIX === */
@media (max-width: 1024px) {

  /* Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Firefox */
  * {
    scrollbar-width: none;
  }
}